@use '../../../assets/scss' as *;

.firedash{
  width:100%;
  max-width: 100vw;
  height:100%;
  display: grid;
  gap:18px;
  @media (max-width: $breakpoint-md){
      gap: 8px;
    }
  .dashStats{
    width:100%;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit,minmax(calc(25% - 12px),1fr));
    gap: 12px;

    @media (max-width: $breakpoint-md){
      grid-template-columns: 1fr 1fr;
      gap: 8px;
    }

     
    // border-bottom: 1px solid rgb(170, 169, 169);
    
      > div:first-child {
        > div:first-child{
        // border-left: 1.5px solid #919191;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        }
    }

    > div:last-child {
        > div:first-child{
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        }
    }
  }
    .lineCharts{
      width:100%;
      display: grid;
      justify-content: center;
      grid-template-columns: repeat(auto-fit,minmax(calc(50% - 9px),1fr));
      gap:18px;

      @media (max-width: $breakpoint-md){
      grid-template-columns: 1fr;
      gap:8px;
      }
    }
    .fireMapCont{
      width:100%;
      height:600px;
      border:1.5px solid #dbdada;
      border-radius: 15px;
      margin-bottom: 45px;
       @media (max-width: $breakpoint-sm){
        height:calc(100vh - 137.5px);
      }
      .leaflet-container {
        border-radius: 15px;
      }
    }
}