.dashboardPage{
    width:1450px;
    margin: 0 auto;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 15px;
    padding:32px;
    padding-top: 32px;
    // background-color: rgba(0, 0, 0, 0.02);
    .title{
        color:"black";
        font-size: 2em;
        font-weight: bold;
        
        padding-bottom: 22px;
        
    }
    .dashboard{
       
    }
}