@use '../../../assets/scss' as *;

.secondheader{
    border-bottom: 1px solid rgb(204, 204, 204);
    padding-top:12px;
    padding-bottom:12px;
    width:calc(100vw - 35px);
    justify-content: end;
    display: grid;
    position: absolute;
    z-index:1000;
    top:63px;
    left:0px;
    background:white;
    padding-right:35px;

    @media(max-width: $breakpoint-sm){
            position: sticky;
            top: 63px;
            left: 0px;
        }
}