@use '../../../assets/scss' as *;

.header{
    display:grid;
    grid-template-columns: 5fr 2fr 5fr;
    width:100vw;
    z-index:1000;
    border-bottom: 1px solid rgb(204, 204, 204);
    height:62px;
    line-height: 48px;
    align-items: center;
    justify-items:center;
    background-color: #ffffff;
    position: absolute;
    inset: 0px;

    @media(max-width: $breakpoint-sm){
            position: sticky;
            top: 0px; 
            left: 0px;
        }

    .mobileHeader{
        display: none;
        height:62px;
        align-content: baseline;
        width:100%;
        float: left;
        padding-left: 32px;
        line-height: 85px;
        @media(max-width: $breakpoint-md){
            display: inline-block;
            justify-content:left;
        }
    }
    
    .leftSideLinks{
        display: flex;
        gap:25px;

        @media(max-width: $breakpoint-md){
            display: none;
        }
        a{
            color:black;
            font-size: 18px;
            text-decoration: none;
            font-weight:400;
        }
    }

    .rightSideLinks{
        display: flex;
        gap:25px;
        @media(max-width: $breakpoint-md){
            display: none;
        }
        a{
            color:black;
            font-size: 18px;
            text-decoration: none;
            font-weight:400;
        }
    }
}