@use '../../assets/scss/' as *;

.home{
    .homeBreakHeader{
        padding-top:105px;
        text-align: center;
        font-size: 28px;
        color:rgba(0,0,0, 0.66);
         @media (max-width: $breakpoint-md){
            font-size: 20px;

        }

    }

    .homeInfoBlocks{
        padding-top: 65px;
    
    }
}