.home{
    .homeBreakHeader{
        padding-top:105px;
        text-align: center;
        font-size: 28px;
        color:rgba(0,0,0, 0.66);
    }

    .homeInfoBlocks{
        padding-top: 65px;
    
    }
}