@use '../../../assets/scss' as *;

.fireAlert{
  display:grid;
  
  gap:22px;
  border: 1.5px solid #dbdada;
  padding:16px;
  border-radius:16px;
  line-height: 26px;
  
  @media (max-width: $breakpoint-md){
    line-height: 20px;
  }

    .activeAlertCont{
    display:flex;
  }

  .alertInfo{
       font-size: 18px;
      font-weight:400;
      @media (max-width: $breakpoint-md){
      font-size:14px;
      }
      
    .alertEvent{
      font-size: 24px;
      font-weight: bold;
      @media (max-width: $breakpoint-md){
      font-size:18px;
      }
    }

    .alertHeadline{
     font-weight: bold;
     @media (max-width: $breakpoint-md){
      line-height: 16px;
      }
    }
    .alertDescription{
      white-space: pre-wrap;
  
      margin-bottom:12px;
      margin-top: 12px; 
      font-size:18px;
    }

    .alertInstruction{
      font-weight: bold;
    } 
    .hiddenDescription{
      display:none;
    }
    .showDescription{
      display: block;
    }
 }
 .alertButton{
      &:hover{
        cursor:pointer;
      }
    }
}