@use '../../../assets/scss' as *;

.imageinput{
    max-width: 500px;
    margin-left:15%;
    margin-top: 85px;
    max-height: 500px;

    @media (max-width: $breakpoint-sm){
        max-width: minmax(481px, 100vw);
        padding-left:12px;
        padding-right:12px;
        margin-top: 85px;
        max-height: 500px;
        margin-left:0px;
    }
    .picture{
        .image{
            width:100%;
            position:absolute;
            z-index: -1;
            inset: 0px;
            object-fit: cover;
            object-position: center center;
            filter: brightness(75%);
            height: 428px;
        }
    }
}