.infoandlink{
    border: 1.5px solid #dbdada;
    border-radius:25px;
    padding:30px;
    padding-top:35px;
    display: grid;
    grid-template-rows: 9fr 3fr;
    justify-content: center;
    min-height: 450px;
    max-width: 375px;
    min-width: 375px;

    .childrenCont{
        text-align: center;
    }

    .linkStyles{
        margin:auto;
        button{
            padding:8px;
            font-size: 18px;
            background-color:white;
            color: rgba(2, 156, 253, 1);
            font-weight: 800;
            border:1px solid  rgba(2, 156, 253, 1);
            border-radius: 5px;
            cursor: pointer;

            &:hover{
               background-color:rgba(2, 156, 253, 0.08);;
            }
        }
    }
}